.row
  %footer.bg-dark.navbar#footer
    .container
      %p.m-0.text-left.text-white 
        &copy; 2018 - Site Built By Oleksandr Adamchuk
        %br
        Feel free to email me: 
        = mail_to "oleks.adamchuk@gmail.com"